---
import Link from "@components/Link.astro";
import Section from "./Section.astro";
---

<Section id="article" heading="Article">
  <Link
    href="https://zenn.dev/hidenorioka/articles/62b7afaef78f32"
    external
    className="md:text-[13px] text-[12px] md:leading-[1.6] leading-[1.5] hover:opacity-50 transition duration-300"
  >
    Zenn: eslint-plugin-importで秩序のあるフロントエンド開発を実現する
  </Link>
</Section>
