---
import Section from "./Section.astro";
import HistoryItem from "./HistoryItem.astro";
---

<Section id="career" heading="CAREER">
  <ul>
    <HistoryItem
      isOpen
      name="GMOフィナンシャルホールディングス株式会社"
      start="2023年11月"
      summary="医療プラットフォーム事業の新規立ち上げにおいて、Webアプリケーション開発メンバーとして参画。現在は医療クリニック・薬局向けシステムのWebフロントエンド開発リードをしています。"
      contents={[
        {
          heading: "プロジェクト規模",
          items: [
            "自社エンジニア(10〜15名) + 外部ベンダー（10名〜）のウォーターフォール開発",
          ],
        },
        {
          heading: "使用技術",
          items: [
            "TypeScript, React, Next.js, Node.js, GraphQL, Sentry, AWS CodeBuild, AWS CloudFront, AWS S3",
          ],
        },
        {
          heading: "医療プラットフォームシステムのフロントエンド開発・保守",
          items: [
            "フロントエンドシステムの全体設計・詳細設計",
            "新規機能開発・既存機能の改修",
            "コードレビュー",
            "技術選定",
            "ビジネスサイド・外部ベンダー等との仕様調整",
            "本番運用・保守（リリース、アラート・バグ対応など）",
          ],
        },
        {
          heading: "処方箋モバイルオーダーシステムのフロントエンド開発・保守",
          items: [
            "フロントエンドシステムの全体設計・詳細設計",
            "新規機能開発・既存機能の改修",
            "コードレビュー",
            "技術選定",
            "ビジネスサイドとの仕様調整",
            "本番運用・保守（リリース、アラート・バグ対応など）",
          ],
        },
        {
          heading: "フロントエンドDevOps",
          items: [
            "コーディング規約を静的解析化（ESLintルールの整備）",
            "featuresディレクトリ戦略に準拠した依存モジュール制約をLinterで整備",
            "CIの平均実行時間の改善",
            "継続的なライブラリバージョン管理フローの整備",
            "Sentryによるエラーログ集積・監視体制の整備",
            "プロジェクト内でnamed exportに統一",
          ],
        },
        {
          heading: "フロントエンド改善",
          items: [
            "Atomic DesignからBulletproof-React（features）への移行",
            "スタイルガイドに基づき、特定のドメインを持たない汎用コンポーネントを再設計",
            "ReduxからReact Context APIへの移行",
            "graphql-codegen 大規模生成ファイルの分割によるチャンク最適化",
            "ESLint v9（Flat Config）への移行",
            "husky + lint-stagedからlefthookへの移行",
            "[WIP] _appファイルチャンク FirstLoad改善",
            "[WIP] Radix UI（Primitives）への移行",
          ],
        },
        {
          heading: "エンジニア採用",
          items: ["1次面接（現場エンジニア面接）を担当"],
        },
      ]}
    />
    <HistoryItem
      name="株式会社ラクスパートナーズ"
      start="2019年1月"
      end="2023年10月"
      summary="未経験からアプリケーションエンジニアとして入社しました。客先常駐で合計4社の開発チームに参画し、Webフロントエンドを中心にアプリケーション開発の内製化支援に取り組みました。"
      contents={[
        {
          heading: "プロジェクト（一部）",
          items: [
            "大手宅配ポータルサイトのWebフロントエンド開発",
            "見積もり依頼プラットフォームのフロントエンド・バックエンド開発",
            "国内総合ECサイトのキャンペーンLPの作成",
          ],
        },
        {
          heading: "使用技術（一部）",
          items: [
            "HTML, CSS, SCSS, JavaScript, TypeScript, jQuery, React, Next.js, Java, Node.js, Express, NestJS, GraphQL, Sentry, NewRelic, Github Actions, AWS Elastic Load Balancing(ALB)",
          ],
        },
        {
          heading: "担当プロジェクト・タスク（一部）",
          items: [
            "Next.jsへのWebフロントエンドシステムリプレイス",
            "マイクロサービス化に伴うBackends For Frontendsレイヤーの実装（GraphQL）",
            "デザイントークン（Primitive, Semantics）に基づくデザインシステムコンポーネントの実装",
          ],
        },
      ]}
    />
    <HistoryItem
      name="三菱地所リアルエステートサービス株式会社"
      start="2018年4月"
      end="2018年6月"
    />
    <HistoryItem name="関西学院大学" start="2013年4月" end="2018年3月" />
  </ul>
</Section>
