---

---

<nav class="fixed top-[50%] right-[4%] lg:block hidden border-l-1 pl-4">
  <ul class="space-y-3">
    <li class="hover:opacity-50 transition duration-300">
      <a href="#hidenorioka">INTRODUCTION</a>
    </li>
    <li class="hover:opacity-50 transition duration-300">
      <a href="#career">CAREER</a>
    </li>
    <li class="hover:opacity-50 transition duration-300">
      <a href="#links">LINKS</a>
    </li>
  </ul>
</nav>
