---

---

<div class="bg-gray-400 p-6">
  <div class="flex items-center gap-4 max-w-[700px] m-auto">
    <div>
      <img src="/icon.png" alt="" class="rounded-[50%] md:w-[120px] w-[60px]" />
    </div>
    <div>
      <h1 class="md:text-[32px] text-[28px] font-bold text-white">
        hidenorioka
      </h1>
      <p class="text-white md:text-[16px] text-[14px]">
        Web Frontend Developer
      </p>
    </div>
  </div>
</div>
