---
import type { NestedTextList } from "./HistoryItem.type";
import NestedListComponent from "./NestedList.astro";

type Props = {
  list: NestedTextList;
  depth?: number;
};
const { list, depth = 0 } = Astro.props;
---

{
  list.heading && (
    <p class="mb-2 md:text-[14px] text-[12px] underline underline-offset-5">
      {list.heading}
    </p>
  )
}
<ul style={{ marginLeft: depth !== 0 ? `${depth}px` : undefined }}>
  {
    list.items.map((item) =>
      typeof item === "string" ? (
        <li class="mb-2">
          <span class="md:text-[14px] text-[12px]">{item}</span>
        </li>
      ) : (
        <li class="mb-2">
          <NestedListComponent list={item} depth={depth + 12} />
        </li>
      ),
    )
  }
</ul>
