---
type Props = {
  heading: string;
  class?: string;
};

const { heading, class: className } = Astro.props;
---

<section class:list={[className]}>
  <p class="font-bold md:text-[20px] text-[18px] md:mb-6 mb-4">{heading}</p>
  <slot />
</section>
