---
import Section from "./Section.astro";
import Link from "@components/Link.astro";
---

<Section id="links" heading="Links">
  <ul class="space-y-4">
    <li class="md:text-[13px] text-[12px]">
      <Link
        href="https://github.com/hidenorioka"
        className="hover:opacity-50 transition duration-300"
        external>Github</Link
      >
    </li>
    <li class="md:text-[13px] text-[12px]">
      <Link
        href="https://zenn.dev/hidenorioka"
        className="hover:opacity-50 transition duration-300"
        external>Zenn</Link
      >
    </li>
    <li class="md:text-[13px] text-[12px]">
      <Link
        href="https://www.linkedin.com/in/hidenorioka"
        className="hover:opacity-50 transition duration-300"
        external>LinkedIn</Link
      >
    </li>
    <li class="md:text-[13px] text-[12px]">
      <Link
        href="https://www.wantedly.com/id/vwkr6t"
        className="hover:opacity-50 transition duration-300"
        external>Wantedly</Link
      >
    </li>
    <li class="md:text-[13px] text-[12px]">
      <Link
        href="https://youtrust.jp/users/hidenorioka"
        className="hover:opacity-50 transition duration-300"
        external>YOUTRUST</Link
      >
    </li>
  </ul>
</Section>
