@import "@fontsource/hauora-sans";
@import "tailwindcss";

@layer base {
  body {
    font-family: "Hauora Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.4px;
  }
}
