---
import Section from "./Section.astro";
import OpenGraph from "./OpenGraph.astro";
---

<Section heading="Article">
  <div class="flex flex-wrap gap-1">
    <OpenGraph url="https://zenn.dev/hidenorioka/articles/62b7afaef78f32" />
  </div>
</Section>
