---
type Props = {
  name: string;
  start: string;
  end?: string;
  summary: string;
};

const { name, start, end, summary } = Astro.props;
---

<li class="not-first:mt-8 not-first:md:mt-10">
  <h3 class="md:text-[14px] text-[13px] md:mb-3 mb-2">
    {name}
  </h3>
  <p class="md:text-[12px] text-[10px] text-gray-500">
    {`${start}${end ? `〜${end}` : "〜現在"}`}
  </p>

  <div
    class="md:text-[13px] text-[12px] md:leading-[1.6] leading-[1.5] md:pt-4 pt-3"
  >
    <p>{summary}</p>
  </div>
</li>
