---
import Section from "./Section.astro";
import CareerSummary from "./CareerSummary.astro";

type CareerHistory = {
  name: string;
  start: string;
  end?: string;
  summary: string;
};

const CAREER_HISTORIES = [
  {
    name: "KINTOテクノロジーズ株式会社",
    start: "2025年07月",
    summary: "2025年7月より参画予定。",
  },
  {
    name: "GMOフィナンシャルホールディングス株式会社",
    start: "2023年11月",
    end: "2025年04月",
    summary:
      "医療プラットフォーム事業の新規立ち上げにおいて、Webアプリケーション開発メンバーとして参画。その後、医療クリニック・薬局向けシステムのWebフロントエンド開発リードを担当しました。",
  },
  {
    name: "株式会社ラクスパートナーズ",
    start: "2019年01月",
    end: "2023年10月",
    summary:
      "キャリア未経験からアプリケーションエンジニアとして入社。客先常駐で合計4社の開発チームに参画し、Webフロントエンドを中心にアプリケーション開発の内製化支援に取り組みました。",
  },
] as const satisfies CareerHistory[];
---

<Section heading="Career">
  <ul>
    {CAREER_HISTORIES.map((history) => <CareerSummary {...history} />)}
  </ul>
</Section>
