---
import Section from "./Section.astro";
import CareerSummary from "./CareerSummary.astro";
---

<Section id="career" heading="Career">
  <ul>
    <li>
      <CareerSummary
        name="GMOフィナンシャルホールディングス株式会社"
        start="2023年11月"
        end="2025年4月"
        summary="医療プラットフォーム事業の新規立ち上げにおいて、Webアプリケーション開発メンバーとして参画。現在は医療クリニック・薬局向けシステムのWebフロントエンド開発リードをしています。"
        links={[
          "https://prtimes.jp/main/html/rd/p/000000738.000030257.html",
          "https://prtimes.jp/main/html/rd/p/000000773.000030257.html",
        ]}
      />
    </li>
    <li class="md:mt-10 mt-8">
      <CareerSummary
        name="株式会社ラクスパートナーズ"
        start="2019年1月"
        end="2023年10月"
        summary="未経験からアプリケーションエンジニアとして入社しました。客先常駐で合計4社の開発チームに参画し、Webフロントエンドを中心にアプリケーション開発の内製化支援に取り組みました。"
      />
    </li>
  </ul>
</Section>
