---
type Props = {
  name: string;
  start: string;
  end?: string;
  summary?: string;
};

const { name, start, end, summary } = Astro.props;
---

<h3 class="md:text-[13px] text-[12px] md:mb-2 mb-2">
  {name}
</h3>
<p class="md:text-[12px] text-[10px] text-gray-500">
  {`${start}${end ? `〜${end}` : "〜現在"}`}
</p>

{
  summary && (
    <div class="md:text-[13px] text-[12px] md:leading-[1.6] leading-[1.5] md:pt-3 pt-2">
      <p>{summary}</p>
    </div>
  )
}
