---
import Section from "./Section.astro";
import CareerSummary from "./CareerSummary.astro";
---

<Section id="career" heading="Career">
  <ul>
    <li>
      <CareerSummary
        name="GMOフィナンシャルホールディングス株式会社"
        start="2023年11月"
        summary="医療プラットフォーム事業の新規立ち上げにおいて、Webアプリケーション開発メンバーとして参画。現在は医療クリニック・薬局向けシステムのWebフロントエンド開発リードをしています。"
      />
    </li>
    <hr class="md:my-6 my-4 text-gray-100" />
    <li>
      <CareerSummary
        name="株式会社ラクスパートナーズ"
        start="2019年1月"
        end="2023年10月"
        summary="未経験からアプリケーションエンジニアとして入社しました。客先常駐で合計4社の開発チームに参画し、Webフロントエンドを中心にアプリケーション開発の内製化支援に取り組みました。"
      />
    </li>
    <hr class="md:my-6 my-4 text-gray-100" />
    <li>
      <CareerSummary
        name="三菱地所リアルエステートサービス株式会社"
        start="2018年4月"
        end="2018年6月"
      />
    </li>
    <hr class="md:my-6 my-4 text-gray-100" />
    <li>
      <CareerSummary name="関西学院大学" start="2013年4月" end="2018年3月" />
    </li>
  </ul>
</Section>
