---
type Props = {
  name: string;
  start: string;
  end?: string;
  summary: string;
};

const { name, start, end, summary } = Astro.props;
---

<li class="not-first:mt-6 not-first:md:mt-8">
  <details>
    <summary class="md:text-[14px] text-[13px]">
      {name}

      <span class="block md:text-[12px] text-[10px] text-gray-500 md:mt-3 mt-2">
        {`${start}${end ? `〜${end}` : "〜現在"}`}
      </span>
    </summary>

    <div
      class="md:text-[13px] text-[12px] md:leading-[1.6] leading-[1.5] md:pt-4 pt-3"
    >
      <p>{summary}</p>
    </div>
  </details>
</li>
