---
import Section from "./Section.astro";
import OpenGraph from "./OpenGraph.astro";
---

<Section id="certification" heading="Certification">
  <div class="flex flex-wrap gap-1">
    <OpenGraph
      url="https://www.credly.com/badges/4dba18b3-ac1f-4e2c-9fed-beba355c4220/public_url"
    />
  </div>
</Section>
