---
import Link from "@components/Link.astro";
import Section from "./Section.astro";
---

<Section id="certification" heading="Certification">
  <ul class="space-y-4">
    <li class="md:text-[13px] text-[12px]">
      <Link
        href="https://www.credly.com/badges/4dba18b3-ac1f-4e2c-9fed-beba355c4220/public_url"
        className="hover:opacity-50 transition duration-300"
        external>2025/03/09：AWS Certified Cloud Practitioner</Link
      >
    </li>
  </ul>
</Section>
