---
import Section from "./Section.astro";
---

<Section id="hidenorioka" heading="Hidenori Oka">
  <h1 class="md:text-[13px] text-[12px] md:leading-[1.6] leading-[1.5] mb-2">
    岡 英紀
  </h1>
  <p class="md:text-[13px] text-[12px] md:leading-[1.6] leading-[1.5]">
    1995年生まれ、兵庫県淡路市出身。Webフロントエンドエンジニア。<br />
    暮らしも仕事も、「最小限」で「最大」の効果を生み出せるような設計に興味があります。
  </p>
</Section>
