---
import AppLayout from "@components/AppLayout.astro";

import githubMarkIcon from "@assets/github-mark.svg";
---

<AppLayout>
  <div class="h-full flex items-center justify-center flex-1 shrink-0">
    <section class="bg-white shadow-md rounded-[4px] p-6 w-80">
      <div class="text-center">
        <h1 class="text-[20px] font-[600] text-gray-800">hidenorioka</h1>
        <p class="text-gray-500">Web Frontend Developer</p>
      </div>

      <div class="mt-4 border-t pt-4">
        <ul class="space-y-2">
          <li class="flex items-center justify-center gap-1">
            <span class="inline-block">
              <img
                src={githubMarkIcon.src}
                width="16"
                height="16"
                alt="Github"
              />
            </span>
            <a
              href="https://github.com/hidenorioka"
              target="_blank"
              class="text-blue-400 hover:opacity-60 duration-[0.3s] text-[16px]"
            >
              @hidenorioka
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</AppLayout>
