---
import AppLayout from "@components/AppLayout.astro";

import Header from "./index/_feature/Header.astro";
import Introduction from "./index/_feature/Introduction.astro";
import Personality from "./index/_feature/Personality.astro";
import Career from "./index/_feature/Career.astro";
---

<AppLayout>
  <div class="flex-1">
    <Header />

    <div class="p-6 max-w-[688px] m-auto">
      <div class="mb:mb-20 mb-16">
        <Introduction />
      </div>

      <div class="mb:mb-20 mb-16">
        <Personality />
      </div>

      <div class="mb:mb-20 mb-16">
        <Career />
      </div>
    </div>
  </div>
</AppLayout>
