---
import AppLayout from "@components/AppLayout.astro";

import Introduction from "@features/top/Introduction.astro";
import Career from "@features/top/Career.astro";
import Article from "@features/top/Article.astro";
import Certification from "@features/top/Certification.astro";
---

<AppLayout>
  <div class="flex-1 relative">
    <div class="md:p-8 p-6 max-w-[688px] m-auto md:mt-10 mt-8">
      <div class="md:mb-18 mb-14">
        <Introduction />
      </div>

      <div class="md:mb-18 mb-14">
        <Article />
      </div>

      <div class="md:mb-18 mb-14">
        <Career />
      </div>

      <div class="md:mb-18 mb-14">
        <Certification />
      </div>
    </div>
  </div>
</AppLayout>
