---
import AppLayout from "@components/AppLayout.astro";

import Introduction from "./index/_feature/Introduction.astro";
import FloatingNavigation from "./index/_feature/FloatingNavigation.astro";
import Career from "./index/_feature/Career.astro";
import SocialLink from "./index/_feature/SocialLink.astro";
import Article from "./index/_feature/Article.astro";
---

<AppLayout>
  <div class="flex-1 relative">
    <div class="md:p-8 p-6 max-w-[688px] m-auto md:mt-10 mt-8">
      <div class="md:mb-18 mb-14">
        <Introduction />
      </div>

      <div class="md:mb-18 mb-14">
        <Article />
      </div>

      <div class="md:mb-18 mb-14">
        <Career />
      </div>

      <div class="md:mb-18 mb-14">
        <SocialLink />
      </div>
    </div>

    <FloatingNavigation />
  </div>
</AppLayout>
