---
import AppLayout from "@components/AppLayout.astro";

import Section from "@features/privacy-policy/Section.astro";
import SectionList from "@features/privacy-policy/SectionList.astro";
import Paragraph from "@features/privacy-policy/Paragraph.astro";
---

<AppLayout
  title="プライバシーポリシー"
  description="個人情報の取り扱い、Google Analyticsの利用、クッキーの使用について"
  type="website"
>
  <div class="flex-1">
    <div class="md:p-8 p-6 max-w-[688px] m-auto md:mt-10 mt-8">
      <div class="md:mb-12 mb-8 text-center">
        <h1 class="md:text-[20px] text-[18px]">プライバシーポリシー</h1>
      </div>

      <div class="md:mb-18 mb-14">
        <Section heading="はじめに">
          <Paragraph>
            当サイト（以下、「本サイト」といいます）は、利用者のプライバシーを尊重し、個人情報の適切な管理に努めます。
            本プライバシーポリシーは、本サイトが収集する情報の種類、その利用目的、および情報の管理方法について説明するものです。
          </Paragraph>
        </Section>
      </div>

      <div class="md:mb-18 mb-14">
        <Section heading="収集する情報">
          <Paragraph>
            本サイトでは、以下の情報を収集する場合があります。
          </Paragraph>
          <SectionList
            items={[
              {
                text: "・Google Analyticsを利用したアクセス解析のためのデータ（クッキー、IPアドレス、ブラウザ情報など）",
              },
            ]}
          />
        </Section>
      </div>

      <div class="md:mb-18 mb-14">
        <Section heading="Google Analyticsの利用について">
          <Paragraph>
            本サイトでは、Googleが提供するアクセス解析ツール「Google
            Analytics」を使用しています。 Google
            Analyticsは、クッキー（Cookie）を使用して利用者のサイト訪問履歴を収集し、分析するために使用されます。
            Google
            Analyticsによって収集されたデータは、Googleのプライバシーポリシーに基づいて管理されます。詳細については、以下のリンクをご参照ください。
          </Paragraph>
          <SectionList
            items={[
              {
                text: "・プライバシー ポリシー – ポリシーと規約 – Google",
                url: "https://policies.google.com/privacy",
              },
              {
                text: "・Terms of Service | Google Analytics – Google",
                url: "https://marketingplatform.google.com/about/analytics/terms/jp/",
              },
              {
                text: "・広告 – ポリシーと規約 – Google",
                url: "https://policies.google.com/technologies/ads?hl=ja",
              },
            ]}
          />
        </Section>
      </div>

      <div class="md:mb-18 mb-14">
        <Section heading="クッキー（Cookie）の使用について">
          <Paragraph>
            本サイトでは、利用者の利便性向上およびアクセス解析のためにクッキーを使用する場合があります。
            利用者はブラウザの設定を変更することで、クッキーの無効化や削除を行うことができます。ただし、その場合、本サイトの一部機能が利用できなくなる可能性があります。
          </Paragraph>
        </Section>
      </div>

      <div class="md:mb-18 mb-14">
        <Section heading="個人情報の利用目的">
          <Paragraph>
            本サイトでは、取得した情報を以下の目的で利用します。
          </Paragraph>
          <SectionList
            items={[
              {
                text: "・サイトの運営および改善",
              },
              {
                text: "・ユーザーの利便性向上",
              },
              {
                text: "・アクセス解析およびマーケティング分析",
              },
            ]}
          />
        </Section>
      </div>

      <div class="md:mb-18 mb-14">
        <Section heading="個人情報の第三者提供">
          <Paragraph>
            本サイトでは、法令に基づく場合を除き、取得した個人情報を第三者に提供することはありません。
          </Paragraph>
        </Section>
      </div>

      <div class="md:mb-18 mb-14">
        <Section heading="プライバシーポリシーの変更">
          <Paragraph>
            本サイトでは、必要に応じて本プライバシーポリシーを変更することがあります。
          </Paragraph>
        </Section>
      </div>

      <div class="mt-10 text-right">
        <p class="md:text-[13px] text-[12px]">2025年02月04日制定</p>
      </div>
    </div>
  </div>
</AppLayout>
