---
import ogs from "open-graph-scraper";

type Props = {
  url: string;
};

const { url } = Astro.props;

const getOpenGraphInfo = async () => {
  try {
    const response = await ogs({ url });

    if (response.error) {
      throw new Error("ogs responded error result");
    }

    return response.result;
  } catch (error) {
    console.error(error); // TODO: add logging
    return undefined;
  }
};

const ogpInfo = await getOpenGraphInfo();

const ogTitle = ogpInfo?.ogTitle ?? "";
const ogUrl = ogpInfo?.ogUrl;
---

<a href={ogUrl}>
  {ogTitle}
</a>
