---
type Props = {
  href: string;
  external?: boolean;
  className?: string;
};

const { href, external = false, className } = Astro.props;
---

<a
  href={href}
  class:list={["underline underline-offset-3", className]}
  {...external && {
    target: "_blank",
    rel: "noopener noreferrer",
  }}
>
  <slot />
</a>
