---
import Link from "@components/Link.astro";

type Props = {
  items: {
    text: string;
    url?: string;
  }[];
};

const { items } = Astro.props;
---

<ul
  class="md:text-[13px] text-[12px] md:leading-[1.6] leading-[1.5] break-all space-y-5"
>
  {
    items.map(({ text, url }) => (
      <li class="mb-1">
        {typeof url === "string" ? (
          <Link
            href={url}
            className="underline hover:opacity-50 transition duration-300"
            external
          >
            {text}
          </Link>
        ) : (
          text
        )}
      </li>
    ))
  }
</ul>
